# Binários do Go
*.exe
*.dll
*.so
*.dylib
*.test

# Saídas de compilação
*.out
*.o
*.a

# Diretório de build (se utilizado)
build/

# Logs
*.log

# envs
.env

# Diretórios de dependências (caso use mod vendor)
vendor/

# Configurações de IDEs
.vscode/
.idea/
*.iml

# Arquivos do sistema (ex.: macOS)
.DS_Store


# terraform
terraform-infra/application/.terraform
terraform-infra/application/.terraform.lock.hcl

# Diretório do Terraform (contém provedores e dados temporários)
terraform/.terraform/

# Arquivo de lock do Terraform
terraform/.terraform.lock.hcl

# Arquivos de estado do Terraform (contêm dados sensíveis)
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

terraform/.terraform/          # Diretório que contém plugins e provedores baixados
terraform/.terraform.lock.hcl  # Arquivo de lock que mantém consistência das versões de provedores
terraform/terraform.tfstate    # Arquivo de estado do Terraform (contém infraestrutura e dados sensíveis)
terraform/terraform.tfstate.backup  # Backup do estado do Terraform

terraform-infra/infra/.terraform
terraform-infra/infra/.terraform.lock.hcl
